# Core
Django==5.1.7
djangorestframework==3.15.2
python-dotenv==1.1.0

# Database
psycopg2-binary==2.9.10
dj-database-url==2.1.0

# Authentication & Authorization
djangorestframework-simplejwt==5.5.0
djoser==2.3.1
python-jose[cryptography]==3.3.0

# API Documentation
drf-yasg==1.21.7
drf-spectacular==0.28.0

# CORS
django-cors-headers==4.7.0

# Phone Number Field
django-phonenumber-field==8.1.0
phonenumbers==9.0.4

# Filtering
django-filter==25.1

# Static Files
whitenoise==6.7.0

# Gunicorn
gunicorn==22.0.0

# Email
sendgrid==6.11.0

# Security
python-dotenv==1.1.0
cryptography==44.0.2

# ASGI
uvicorn==0.29.0

# Production Monitoring
sentry-sdk==2.10.0
requests-oauthlib==2.0.0
rpds-py==0.28.0
six==1.17.0
social-auth-app-django==5.4.3
social-auth-core==4.6.0
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.1
uritemplate==4.2.0
urllib3==2.4.0
vine==5.1.0
wcwidth==0.2.14
