# Core
Django==5.0.3
djangorestframework==3.14.0
python-dotenv==1.0.0

# Database
psycopg2-binary==2.9.9
dj-database-url==2.1.0  # Updated to latest stable version
python-decouple==3.8  # For better environment variable handling

# Authentication & Authorization
djangorestframework-simplejwt==5.3.1
djoser==2.2.0
python-jose[cryptography]==3.3.0
PyJWT==2.8.0

# API Documentation
drf-yasg==1.21.7
drf-spectacular==0.26.3

# CORS
django-cors-headers==4.3.1

# Phone Number Field
django-phonenumber-field==7.2.0
phonenumbers==8.13.27

# Filtering
django-filter==24.1

# Static Files
whitenoise==6.6.0

# Gunicorn
gunicorn==22.0.0

# Email
sendgrid==6.11.0

# Security
cryptography==42.0.5

# ASGI
uvicorn==0.27.1

# Required for Wasmer
certifi
setuptools==69.0.3
requests-oauthlib==2.0.0
rpds-py==0.28.0
six==1.17.0
social-auth-app-django==5.4.3
social-auth-core==4.6.0
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.1
uritemplate==4.2.0
urllib3==2.4.0
vine==5.1.0
wcwidth==0.2.14
